
<div class="ps-breadcrumb">
    <div class="ps-container">
        <ul class="breadcrumb">
            <li><a [routerLink]="['/home']">Trang chủ</a></li>
            <li>Giới thiệu</li>
        </ul>
    </div>
</div>
<section >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div style="margin-top: 30px;">
                    <h2 class="title" >CHÀO MỪNG ĐẾN VỚI PENGUINT</h2>
                    <div>
                        <p class="font_size">
                            Chào mừng đến với PenguinT . 

                            Với mục đích mang đến trải nghiệm chọn giày chuyên nghiệp cho người chơi thể thao, chúng tôi tự hào là đơn vị đầu tiên áp dụng công nghệ đo bàn chân 3D để xác định đôi giày phù hợp ở Việt Nam.
                            Mọi sản phẩm của chúng tôi đều cam kết chính hãng, có đầy đủ hóa đơn, chứng từ. Mọi đơn hàng đều được xuất hóa đơn VAT đầy đủ.<br> 

                            Khách hàng của chúng tôi đánh giá sản phẩm của PenguinT là chất lượng tốt và nhận được tư vấn nhiệt tình. Điều này cho thấy sự cam kết của chúng tôi đối với sự hài lòng của khách hàng.<br> 

                            Happyrun được thành lập bởi những người chạy bộ không chuyên, nhưng đã được tận hưởng rất nhiều lợi ích tuyệt vời từ chạy bộ, với mong muốn lan tỏa lợi ích của chạy bộ đến cộng đồng. Với kinh nghiệm chạy bộ lâu năm, chúng tôi hiểu rõ những khó khăn của người chạy bộ và mong muốn giúp đỡ mọi người có được sức khỏe dễ dàng hơn.

                            Ngoài những sản phẩm có sẵn, chúng tôi cung nhận đặt hàng đồ thể thao với số lượng lớn từ các công ty, cộng đồng hay hội nhóm.<br> 

                            Hãy đến với PenguinT để trải nghiệm những sản phẩm và dịch vụ tốt nhất phục vụ cho bạn chạy bộ dễ dàng hơn.
                        </p>
                        <img class="gioithieu" src="img/bg/shop1.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h2 class="title">SƠ LƯỢC VỀ PENGUINT</h2>
                    <div class="khung_chung">
                        <div class="khung_left">
                            <div class="tt">
                                <img class="img" src="img/bg/people.jpg">
                                <div clas="ttc" style="text-align: center;">
                                    <p>Tổng cộng</p>
                                    <h2>70</h2>
                                    <p>Nhân viên</p>
                                </div>
                            </div>
                        </div>
                        <div class="khung_right">
                            <div class="tt">
                                <img class="img" src="img/bg/gender.jpg">
                                <div clas="ttc" style="text-align: center;">
                                    <p>Gần</p>
                                    <h2>+50</h2>
                                    <p>Nhân viên nữ</p>
                                </div>
                            </div>
                        </div>
                        <div class="khung">
                            <div class="tt">
                                <img class="img" src="img/bg/cau.jpg">
                                <div clas="ttc" style="text-align: center;">
                                    <p>Vận chuyển</p>
                                    <h2>36</h2>
                                    <p>Tỉnh thành</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h2 class="title">THÔNG TIN CỬA HÀNG</h2>
                    <div>
                        <p>
                            Địa chỉ: TP.Hà Nội<br>
                            Điện thoại: 0335 195 958<br>
                            Đại diện kinh doanh: Ngô Tuấn Thành<br>
                            Ngành nghề kinh doanh: Bán giày thể thao trong thành phố<br>
                            Website: <br>
                            Email: penguin2001@gmail.com<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row"> -->
            <div class="col-lg-12">
                <aside class="widget widget--vendor widget--open-time">
                    <h2 class="title" style="margin-left: -15px;"><i class="icon-clock3"></i> GIỜ CỬA HÀNG</h2>
                    <ul>
                        <li><strong>Thứ 2:</strong><span>7:00 am - 22:00 pm</span></li>
                        <li><strong>Thứ 3:</strong><span>7:00 am - 22:00 pm</span></li>
                        <li><strong>Thứ 4:</strong><span>7:00 am - 22:00 pm</span></li>
                        <li><strong>Thứ 5:</strong><span>7:00 am - 22:00 pm</span></li>
                        <li><strong>Thứ 6:</strong><span>7:00 am - 22:00 pm</span></li>
                        <li><strong>Thứ 7:</strong><span>7:00 am - 23:00 pm</span></li>
                        <li><strong>Chủ nhật:</strong><span>7:00 am - 23:00 pm</span></li>
                    </ul>
                </aside>
                <!-- <div>
                    <h2 class="title">THỜI GIAN HOẠT ĐỘNG</h2>
                    <div>
                        <table  class="bangtg">
                            <tr>
                                <td>Ngày</td>
                                <td>Giờ</td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>7h - 22h</td>

                            </tr>
                            <tr>
                                <td>3</td>
                                <td>7h - 22h</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>7h - 22h</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>7h - 22h</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>7h - 22h</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>7h - 23h</td>
                            </tr>
                            <tr>
                                <td>Chủ nhật</td>
                                <td>7h - 23h</td>
                            </tr>
                        </table>
                    </div> -->
                <!-- </div> -->
            <!-- </div> -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h2 class="title">CÂU TRUYỆN CỦA CHÚNG TÔI</h2>
                    <p>
                        Khách hàng của chúng tôi là cốt lõi trong mô hình kinh doanh của chúng tôi, thúc đẩy sự phát
                        triển của chúng tôi với đội ngũ gần 70 nhân viên phục vụ 36 tỉnh thành Việt Nam. Mô hình ưu
                        tiên kỹ thuật số của chúng tôi đáp ứng khách hàng ở bất kỳ đâu: trên
                        thiết bị di động, trực tuyến và trên phương tiện truyền thông xã hội. Chúng tôi đã trở thành một
                        trong những ứng dụng mua sắm phổ biến nhất và tiếp tục thu hút khách hàng bằng cách cung cấp
                        nhiều luồng nội dung trực tiếp trong nền tảng PenguinT và mang lại trải nghiệm mua sắm trực
                        tuyến
                        tốt nhất.
                    </p>
                    <img class="gioithieu" src="img/bg/vedep.jpeg">
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>Bản tin</h3>
                        <p>Đăng ký để nhận thông tin về sản phẩm và phiếu giảm giá</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Địa chỉ Email">
                            <button class="ps-btn">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->